*.pyc
*.sw?
*.DS_Store
wiki
.ropeproject/
.sass-cache/
docs/_build
cli/popper.egg-info/
cli/build
cli/dist
.idea/
.cache
popper_logs
popper_status
.cache
popper_logs
popper_status
.pipeline_cache.yml
