[submodule "cli/bin/vendor/click"]
	path = cli/bin/vendor/click
	url = https://github.com/pallets/click/
[submodule "cli/bin/vendor/requests"]
	path = cli/bin/vendor/requests
	url = https://github.com/requests/requests/
[submodule "cli/bin/vendor/ruamel"]
	path = cli/bin/vendor/ruamel
	url = https://github.com/UjjwalAyyangar/ruamel-yaml
