*.pyc
*.sw?
*.DS_Store
wiki
.ropeproject/
.sass-cache/
docs/_build
src/popper.egg-info/
src/build
src/dist
.idea/
.cache
popper_logs
popper_status
.cache
popper_logs
popper_status
.pipeline_cache.yml
src/popper/_version.py
