---
dist: xenial
language: python
python:
- "3.6"
- "3.7"
- "3.8"
env:
- ENGINE=docker
- ENGINE=singularity
services: docker
before_install:
- ci/scripts/install_scripts.sh
- pip install coverage
install:
- pip install cli/[dev]
- black --check .
script:
- coverage run -m unittest cli/test/test_*
- ci/run_tests.sh
after_success:
- bash <(curl -s https://codecov.io/bash)
