---
dist: xenial
language: python
python:
- "3.6"
- "3.7"
- "3.8"
env:
- ENGINE=docker
- ENGINE=singularity
services: docker
before_install:
- src/extras/install_singularity.sh
- pip install coverage
install:
- pip install src/[dev]
- black --check --diff .
script:
- coverage run -m unittest src/test/test_*
after_success:
- bash <(curl -s https://codecov.io/bash)
