---
dist: xenial
language: python
python:
- "2.7"
- "3.7"
env:
- RUNTIME=singularity POPPER_TEST_MODE=with-git
- RUNTIME=docker POPPER_TEST_MODE=without-git
services: docker
before_install:
- ci/scripts/install_scripts.sh
- pip install git+https://github.com/virtuald/pyhcl.git@0.3.12#egg=pyhcl
install:
- pip install coverage
- pip install cli[dev]
script:
- coverage run -m unittest discover --start-directory cli/
- popper run
after_success:
- bash <(curl -s https://codecov.io/bash)
