
---
language: python
python: 2.7
services: docker
install:
- export PATH=$PATH:$PWD/cli/bin
- export PYTHONUNBUFFERED=1
script:
  - cd envs && ./build_images && cd ..
  - popper run 
  - USE_VIRTUALENV=1 popper run 
  - docker build -t falsifiable/popper cli/
  - docker run --rm -e CI=1 -e POPPER_FIGSHARE_API_TOKEN="${POPPER_FIGSHARE_API_TOKEN}" -e POPPER_ZENODO_API_TOKEN="${POPPER_ZENODO_API_TOKEN}" -e POPPER_GITHUB_API_TOKEN="${POPPER_GITHUB_API_TOKEN}" -v `pwd`:/repo --workdir=/repo falsifiable/popper run
