---
dist: xenial
language: python
python:
- "3.6"
- "3.7"
- "3.8"
env:
- ENGINE=docker
#- ENGINE=singularity
- RESMAN=kubernetes
services: docker
before_install:
- ci/scripts/install-test-deps.sh
- pip install coverage
install:
- pip install cli/
script:
- coverage run -m unittest discover --start-directory cli/test
- ci/run_tests.sh
after_success:
- bash <(curl -s https://codecov.io/bash)
