---
dist: xenial
language: python
python:
- "2.7"
- "3.7"
services: docker
before_install:
- sudo apt-get update
- sudo apt-get install neurodebian-popularity-contest
- wget http://neurodeb.pirsquared.org/pool/main/s/singularity-container/singularity-container_2.6.1-2~nd16.04+1_amd64.deb
- sudo apt install ./singularity-container_2.6.1-2~nd16.04+1_amd64.deb
script:
- export PATH=$PATH:$PWD/cli/bin
- popper run --recursive
- pip install cli/
- which popper
- popper run --recursive
